:root {
  --bg: #ffffff;
  --text: #111;
  --card: #f3f3f3;
}

body.dark {
  --bg: #0f0f0f;
  --text: #f1f1f1;
  --card: #1c1c1c;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  padding: 20px;
  background: var(--card);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background: var(--card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
.cover{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:14px;
    margin:30px 0;
}